@model IEnumerable<Dal.Interface.PartyModel>

<div id="results">
    <h3>Все предприятия</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name @item.Email @item.Site</li>
        }
    </ul>
</div>
